body {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
}
#container{
    text-align: left;
    padding: 20px 100px;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
}